{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Watson Woof</title>
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}" / />
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />

  </head>

  <body>
  {% include 'navbar.html' %}

  {% block content %}
  {% endblock %}

  </body>

    <footer>
    All Rights Reserved, This is Dane 2017
  </footer>
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/app.js' %}"></script>
</body>
</html>
