{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
  <head>
    <title>Watson Woof</title>
  </head>

    <h1>Dog Profile</h1>

    <h2> Name: {{ dog.name}}</h1>
    <p> Value: {{ dog.value }}</p>
    <p> Gender{{ dog.gender }}</p>
    <p> Breed{{ dog.breed }}</p>
    <p> Age{{ dog.age }}</p>

    <!-- Get the rest linked with Models.py -->
    <!-- <p> Location{{ dog.location }}</p>
    <p> Child Compatability{{ dog.childcompatability }}</p>
    <p> Cat Compatability{{ dog.catcompatability }}</p>
    <p> Dog Compatability{{ dog.dogcompatability }}</p>
    <p> Description{{ dog.description }}</p> -->

    {% endblock %}
